@page "/"

<PageTitle>Index</PageTitle>

<h1 class="display-4">Welcome to Contoso Pizza</h1>

Welcome to your new app.

<p class="lead">The best pizza in town for @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>

@code
{    
TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}